
 @mixin absoluteHeroImage{
    .hero-image{
        display: none;
    }
 }

 @mixin shrinkSkillsSection{
    #skills{
        transform: scale(0.8);
    }
 }


 @media only screen and (min-width: 0px) and (max-width: 877px){
    @include absoluteHeroImage;
    @include shrinkSkillsSection;

    .navigation{
        padding: 35px 0px!important;
    }

    #home-section{
        .work{
            margin-bottom: 0px!important;
        }
    }
 }

 
 @media only screen and (min-width: 0px) and (max-width: 500px){

    .navigation{
        padding: 15px 0px!important;
    }

    #home-section{
        .content{
            .work{
                padding: 6px 17px!important;
                font-size: 24px!important;
            }

            .name{
                font-size: 36px!important;
            }

            .description{
                font-size: 16px;
            }
        }

        .hero-button-container{
            button.check-resume{
                
                font-size: 15px!important;
                padding: 14px 13px!important;
            }
        }
    }
 }

 
 @media only screen and (min-height: 0px) and (max-height: 700px){
    section#home-section{
        .content{
            padding-top: 50px;
        }

    }
 }
