html, body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
  }
  

a{
    text-decoration: none;
    color: inherit
}

nav.navigation{
    font-size: 18px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px;
    color: white;
    gap: 20px;
    z-index: 10000;
    transition-property: background-color, padding;
    transition: 500ms ;

    a{
        padding: 7px 10px;
        position: relative;
        border-radius: 5px;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: -6px;
            left: 0;
            background-color: #ffffff;
            transform-origin: bottom left;
            transition:  300ms ease-out;
          }
        &:hover{
            // background-color: #25afc138;
        }
        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }


        &.selected{
            font-weight: bold;

            &.selected:after{
                transform: scaleX(1);
            }
        }

    }

    
}


.section{
    height: 100vh;
}

section#home-section{
    padding: 0px 20px;
    background: rgb(31,55,77);
    background: radial-gradient(circle, rgba(31,55,77,1) 0%, rgba(24,32,39,1) 100%);
    background-position: 25% 100%;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 10px -2px #1b2834;
    
    .container{
        display: flex;
        max-width: 1200;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .content{
        display: flex;
        gap: 20px;
        flex-direction: column;
        font-size: 20px;
        align-items: flex-start;
        justify-content: center;
        // background-image: url("/assets/bg.svg");
        background-repeat: no-repeat;
        background-position: 80%;
        background-size: 600px;
        height: 100%;
        width: 100%;
        // max-width: 1500px;
        // padding-left: 250px;

        &:hover .work{
            animation: animatework 1s;
        }

        .work{
            font-size: 30px;
            padding: 10px 20px;
            border: 4px solid white;
            border-radius: 10px;
            font-weight: bold;
            transform: rotate(-10deg);
            margin-bottom: 20px;
            transition: transform 1s;
            transform-origin: 0% 100%;
        }

        @keyframes animatework {
            0%{
                transform: rotate(-10deg);
            }
            20%{
                transform: rotate(2deg);
            }
            25%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(-10deg);   
            }
        }

        .name{
            font-size: 50px;
            font-weight: bold;
        }
        .description{
            max-width: 700px;
        }
        .social-button-container{
            button{
                border: none;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                font-size: 20px;
                line-height: 40px;
            }

            .facebook{
                color: white;
                background-color: #3f5c96;
            }

            .email{
                background-color: #d53e32;
                color: white;
            }

            
        }
        
        .hero-button-container{
            button{
                border: none;
            }
            .check-work{
                margin-top: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                padding: 15px 20px;
                font-weight: bold;
                border-radius: 10px;
                font-size: 18px;
                cursor: pointer;
                
                transition: background-color 300ms;
    
                &:hover{
                    background-color: #25afc1;
                }
            }

            .check-resume{
                margin-top: 20px;
                background-color: #2D909D;
                color: white;
                padding: 15px 20px;
                font-weight: bold;
                border-radius: 10px;
                font-size: 18px;
                cursor: pointer;
                
                transition: background-color 300ms;
    
                &:hover{
                    background-color: #25afc1;
                }
            }
        }
    }

    .hero-image{
        // position: absolute;
        // right: 15%;
        // padding-right: 250px;
        img{                
            height: 700px;
        }
    }

}


section.small-section{
    padding:  50px 0px;
    color: #aeaeae;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    gap: 40px;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img{
            height: 50px;
        }
    }
}


section#work-section{
    color: white;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    background-image: url("./assets/gears.svg");
    background-repeat: no-repeat;
    background-position: 90%  50%;
    background-size: 400px;
    // background-blend-mode:hue;
    padding: 20px;
    .container{
        display: flex;
        max-width: 1200px;
        flex-wrap: wrap;
        justify-content: center;
        // padding: 100px 0px;
        gap: 30px;
        align-items: center;

        .work-item-card{
            opacity: 0;
            display: flex;
            // gap: 20px;
            flex-direction: column;
            border-radius: 10px;
            // padding: 30px;
            max-width: 400px;
            background-color: #1a2834;
            box-shadow: 0px 0px 5px -1px #204362;
            position: relative;
            overflow-y: hidden;
            justify-items: center;
            &> div{
                display: flex;
                justify-content: center;
                padding: 30px;
            }

            .title{
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }
            .languages-used{
                gap: 7px;
                flex-wrap: wrap;
                .language{
                    
                    font-size: 14px;
                    padding: 5px 8px;
                    border: 1px solid white;
                    // background-color: black;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                }
            }


            .hover-details{
                color:white;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 30px 30px;
                background-color: #2D909D;
                transition: 300ms;
                border-radius: 10px 10px 0px 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                .github-button{
                    cursor: pointer;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 10px;
                    background-color: black;
                    display: inline-flex;
                    align-items: center;
                    border: none;

                    i{
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
            }

            &.shown{
                animation: show 400ms forwards;
                // animation: name duration timing-function delay iteration-count direction fill-mode;
            }
            @keyframes show{
                0%{
                    opacity: 0;
                    transform : translateY(-50px);
                }
                100%{ 
                    opacity: 1;
                    transform : translateY(0px);
                }
            }
        }


    }

    
}